<div class="container module-container">
    <div class="content-breadcrumbs">
        <h1 [ngStyle]="{'font-family': 'MontserratBold'}">Estado de cuenta</h1>
        <div class="breadcrumbs">SOLDI > Estado de cuenta</div>
    </div>
    <div class="content-body mat-elevation-z3">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between end">
            <div fxFlex="30" fxFlex.sm="100" fxFlex.xs="100">
                <p>Operaciones enviadas: {{ totalRow }}</p>
                <p>Precio Unitario: {{ priceUnit | currency }}</p>
                <p>Total precio operaciones: {{ totalForOperation | currency }}</p>
                <p>Cuota Infraestructura tecnologica: {{ comition | currency }}</p>
            </div>
            <div fxFlex="30" fxFlex.sm="100" fxFlex.xs="100">
                <mat-form-field appearance="outline">
                    <mat-label>Periodo (MM/YYYY)</mat-label>
                    <input matInput [matDatepicker]="dp" placeholder="Mes y Año" [formControl]="date">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp startView="multi-year" panelClass="example-month-picker" (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, dp)">
                    </mat-datepicker>
                </mat-form-field>

                <p>Subtotal: {{ totalForOperation + comition | currency }}</p>
                <p>IVA: {{ total - (totalForOperation + comition) | currency }}</p>
                <p>Total: {{ total | currency }}</p>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="content-table" fxLayout="row">
            <div class="content-loading" *ngIf="loading">
                <mat-spinner [diameter]="25"></mat-spinner>
            </div>

            <app-table-movements [totalRow]="totalRow" [dataSource]="dataSource" (changePage)="changePage($event)"></app-table-movements>
        </div>
    </div>
</div>