<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title" [ngStyle]="{'font-family': 'MontserratBold'}">Subir Comprobante</span>
      <button mat-button class="toggle-button-navbar mat-icon-button" [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div class="pl-25 pr-25 m-0" mat-dialog-content>
    <div class="content-steps">
      <div class="content-carta" [@fadeInOut]="step === 1 ? '1' : '0'">
        <iframe [src]="urlApi | safe" frameborder="0"></iframe>
      </div>
      <div class="content-upload-file" [@fadeInOut]="step === 1 ? '0' : '1'">
        <div class="box-input" #boxInput [ngClass]="{'error-file': errors}">
            <mat-icon svgIcon="logoUpload" class="icon-upload"></mat-icon>
            <br>
            <input type="file" class="input-file" id="file" #inputFile>
            <label for="file" [innerHTML]="labelInput"></label>
        </div>
        <div class="content-image" *ngIf="!!this.fileImage">
          <img [src]="fileImage" alt="voucher">
        </div>
      </div>
    </div>
  </div>

  <div mat-dialog-actions class="m-0" fxLayoutAlign="space-around center">
    <div class="content-button">
      <div class="content-btn-left">
        <button 
          mat-button 
          [disabled]="loading && step != 1" [class.spinner]="loading && step == 2"
          (click)="nextStep()"
        >{{ step == 1 ? 'ACEPTO' : 'ENVIAR'}}</button>
      </div>
      <div class="content-btn-right">
        <button mat-button (click)="secondButton()">{{ step == 1 ? 'CANCELAR' : 'REGRESAR' }}</button>
      </div>
    </div>
  </div>
</div>