<div class="container module-container">
    <div class="content-breadcrumbs">
        <h1 [ngStyle]="{'font-family': 'MontserratBold'}">Soporte Técnico</h1>
        <div class="breadcrumbs">SNAC > Soporte Técnico</div>
    </div>
    <div class="content mat-elevation-z3">
        <div class="content-title">
            <div class="title">
                <h3 [ngStyle]="{'font-family': 'MontserratBold'}">Contacta a SNAC</h3>
                <span class="line"></span>
            </div>
        </div>
        <hr>
        <div class="content-widgets">
            <div class="widget-support whatsapp">
                <div class="content-icon">
                    <div class="circle-icon">
                        <mat-icon svgIcon="iconWhatsapp" class="icon-whatsapp"></mat-icon>
                    </div>
                </div>
                <div class="content-text">
                    <p>Comunícate vía WhatsApp al número</p>
                    <p [ngStyle]="{'font-family': 'MontserratBold'}">+52 (55) 2890 1258</p>
                </div>
            </div>
            <div class="widget-support email">
                <div class="content-icon">
                    <div class="circle-icon">
                        <mat-icon svgIcon="iconEmail" class="icon-email"></mat-icon>
                    </div>
                </div>
                <div class="content-text">
                    <p>Envía un correo a</p>
                    <p [ngStyle]="{'font-family': 'MontserratBold'}" class="text-email">soporte@prestaqi.com</p>
                </div>
            </div>
            <div class="widget-support telephone">
                <div class="content-icon">
                    <div class="circle-icon">
                        <mat-icon svgIcon="iconTelephone" class="icon-telephone"></mat-icon>
                    </div>
                </div>
                <div class="content-text">
                    <p>Asistencia telefónica al numero</p>
                    <p [ngStyle]="{'font-family': 'MontserratBold'}">+52 (55) 6284 8216</p>
                </div>
            </div>
        </div>
    </div>
</div>