<div class="container">
    <div class="title">
        <h3 [ngStyle]="{'font-family': 'MontserratBold'}">Crear Administrador</h3>
        <span class="line"></span>
    </div>

    <div class="content-form" [formGroup]="formGroup">
        <p class="label">DATOS GENERALES</p>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between">
            <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" class="inpu-name">
                <mat-form-field appearance="outline">
                    <mat-label>Nombres</mat-label>
                    <input matInput formControlName="first_name">
                    <mat-error *ngIf="formErrors.first_name.required">
                        El nombre es requerido
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" class="inpu-last-name">
                <mat-form-field appearance="outline">
                    <mat-label>Apellidos</mat-label>
                    <input matInput formControlName="last_name">
                    <mat-error *ngIf="formErrors.last_name.required">
                        Los Apellidos son requeridos
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between">
            <div fxFlex="33" fxFlex.sm="100" fxFlex.xs="100" class="inpu-employer-number">
                <mat-form-field appearance="outline">
                    <mat-label>Número de empleado</mat-label>
                    <input matInput formControlName="employee_number">
                    <mat-error *ngIf="formErrors.employee_number.required">
                        El numero de empleado es requerido
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="33" fxFlex.sm="100" fxFlex.xs="100" class="inpu-email">
                <mat-form-field appearance="outline">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput formControlName="mail">
                    <mat-error *ngIf="formErrors.mail.required">
                        El mail es requerido
                    </mat-error>
                    <mat-error *ngIf="!formErrors?.mail?.required && formErrors?.mail?.email">
                        Por favor ingresa un mail valido
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="33" fxFlex.sm="100" fxFlex.xs="100" class="inpu-telephone">
                <mat-form-field appearance="outline">
                    <mat-label>Teléfono (10 digitos)</mat-label>
                    <input matInput formControlName="phone">
                    <mat-error *ngIf="formErrors.phone.required">
                        El telefono es requerido
                    </mat-error>
                    <mat-error *ngIf="formErrors.phone.minlength">
                        El telefono no es correcto
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <p class="label">Modulos</p>
        <div class="content-modules">
            <ul>
                <li *ngFor="let item of modules">
                    <mat-checkbox color="primary" [disabled]="item.description === 'Dashboard'" (change)="checkModule(item, $event)" [checked]="findModule(item)">{{ item.description }}</mat-checkbox>
                </li>
            </ul>
        </div>
        <div class="content-button">
            <button 
                mat-flat-button 
                color="primary" 
                [disabled]="formGroup.invalid || loading"
                [class.spinner]="loading"
                (click)="submit()">CREAR ADMINISTRADOR</button>
        </div>
    </div>
</div>