app-show-carta-transferencia-data {
    .dialog-content-wrapper {

        .iframe-content {
            border: none;
            min-height: 600px;
            min-width: 450px;
        }

        .cnt-button {
            margin-bottom: 12px;
            margin-top: 12px;

            .bnt {
                background-color: #41434C;
                color: white;
                border-radius: 20px;
            }
        }
    }
}