<div class="container-employer">
    <div class="content-section">
        <p class="question">Empleador</p>
        <span class="separation-blue"></span>

        <p class="description">Únete a la comunidad <span  [ngStyle]="{'font-family': 'MontserratBold'}">PrestaQi</span></p>

        <div class="content-widgets">
            <div class="widget-info">
                <p class="title">LIQUIDEZ</p>
                <p class="subtitle">En todo momento</p>
                <p class="info">Tus colaboradores tendrán liquidez 24/7 los 365 días del año</p>
            </div>
            <div class="widget-info">
                <p class="title">SIN</p>
                <p class="subtitle">Inversión</p>
                <p class="info">No es necesaria ninguna inversión por parte de la empresa</p>
            </div>
            <div class="widget-info">
                <p class="title">NUEVO</p>
                <p class="subtitle">Beneficio</p>
                <p class="info">Ofrecerás una maravillosa prestación a tus colaboradores</p>
            </div>
        </div>

        <div class="content-button">
            <button mat-button (click)="openDialogContact()">QUIERO INSCRIBIRME</button>
        </div>
    </div>
</div>