app-verify-selfie {

    .mat-dialog-content {
        padding: 0;
        background-color: #62b5b2;
        padding-top: 24px;
        min-height: 600px;

        &.loading {
            min-height: auto;
        }
    }

    .label {
        color: gray;
    }

    .content-upload-file {
        position: relative;

        .cnt-loading {
            padding: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .box-input {
            text-align: center;
            outline: 2px dashed #92b0b3;
            outline-offset: -10px;
            -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
            transition: outline-offset .15s ease-in-out, background-color .15s linear;
            font-size: 1.25rem;
            position: relative;
            padding: 50px 20px;

            label {
                color: #a6a6a6;
                font-size: 15px;
            }

            .input-file {
                width: 100%;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
            }

            .icon-upload {
                display: contents;
                color: #32379e;

                svg {
                    width: 60px;
                    height: 60px;
                }
            }
        }

        .loadingUpload {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background-color: #ffffffd6;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .btn {
        background-color: #41434C;
        color: white;
        border-radius: 20px;
        margin-bottom: 12px;

        &:disabled {
            color: white !important;
        }
    }
}