<div class="content-welcome">
    <!--<div class="content-image">
        <img src="assets/images/backgrounds/landing-welcome-bg.jpg" alt="">
    </div>-->
    <div class="content-text">
        <p>
            <mat-icon svgIcon="logoWhite" class="icon-logo"></mat-icon>
        </p>
        <br>
        <p class="welcome">BIENVENIDO A PRESTAQI</p>
        <h2 class="eslogan">
            El dinero que necesitas <br>
            <b>al alcance de tu mano</b>
        </h2>

        <br>
        <button class="how-function" (click)="_goTo()">¿CÓMO FUNCIONA?</button>
    </div>
</div>