<div class="content-requirements">
    <div class="content-text">
        <p class="question">Requisitos</p>
        <span class="separation-blue"></span>

        <p class="description">El único requisito para disfrutar de nuestros servicios es que la empresa en donde trabajas forme parte de nuestra comunidad.</p>
    </div>

    <div class="content-info">
        <div class="content-item-requirement">
            <div class="icon">
                <img src="assets/icons/double_check.png" alt="">
            </div>
            <div class="text">
                <p>¿Tu empresa ya forma parte de la comunidad PrestaQi y te quieres registrar?</p>
            </div>
        </div>
        <div class="content-item-requirement">
            <div class="icon question">
                <img src="assets/icons/ico_question.png" alt="">
            </div>
            <div class="text">
                <p>¿Quieres unir a tu empresa a nuestra comunidad?</p>
            </div>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center">
        <div fxLayout="column" class="mr-36">
            <div class="content-button">
                <button mat-button (click)="toContact()">CONTÁCTANOS</button>
            </div>
        </div>
        <div fxLayout="column">
            <div class="content-button">
                <button mat-button (click)="openDialogContact()">REGÍSTRATE</button>
            </div>
        </div>
    </div>
</div>
