<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title" [ngStyle]="{'font-family': 'MontserratBold'}">Realizar Pago</span>
      <button mat-button class="toggle-button-navbar mat-icon-button" [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div class="pl-25 pr-25 m-0" mat-dialog-content appPerfectScrollbar [formGroup]="formGroup">
    <p class="label">Total a pagar: {{ data?.totalAmount | currency }}</p>
    <div style="margin-bottom: 25px;">
      <mat-checkbox color="primary" formControlName="ispartial" (change)="changePartial($event)">Pago Parcial</mat-checkbox>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Cantidad</mat-label>
        <input matInput formControlName="amount" prefix="$" mask="separator" thousandSeparator=",">
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions class="m-0" fxLayoutAlign="space-around center">
    <div class="content-button">
      <div class="content-btn-left">
        <button 
          mat-button 
          [disabled]="formGroup.invalid || loading"
          [class.spinner]="loading"
          (click)="submit()"
        >GUARDAR</button>
      </div>
      <div class="content-btn-right"><button mat-button [mat-dialog-close]="false">CANCELAR</button></div>
    </div>
  </div>
</div>