<div id="page-splash-screen">
  <div class="content-loading">
      <div class="body-loading">
      <div>
          <img src="assets/icons/app/PrestaQi.jpg" alt="PrestaQi">
          <br>
          <div class="loader">
              <div class="wrapper">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              </div>
          </div>
      </div>    
      </div>
  </div>      
</div>

<router-outlet></router-outlet>