<div class="dialog-content-wrapper">
    <div class="pl-25 pr-25 m-0" mat-dialog-content>
        <h3>Bienvenido a SNAC te hace el paro, a continuación te pediremos que cargues la siguiente información para terminar tu registro:</h3>

        <ul>
            <li>Selfie</li>
            <li>Ine (frente y vuelta)</li>
            <li>Estado de cuenta bancaria</li>
            <li>Recibo de nómina</li>
        </ul>
    </div>

    <div mat-dialog-actions class="m-0" fxLayoutAlign="center center">
        <div class="content-botton">
            <button mat-button [mat-dialog-close]="true">CONTINUAR</button>
        </div>
      </div>
</div>