<div class="container mat-elevation-z3">
    <div class="title">
        <h3 [ngStyle]="{'font-family': 'MontserratBold'}">Información de la Plataforma</h3>
        <span class="line"></span>
    </div>

    <div class="content">
        <div class="icon">
            <div class="circle-icon">
                <mat-icon svgIcon="iconPlatform" class="icon-platform"></mat-icon>
            </div>
        </div>
        <div class="text">
            <p class="version">Versión <span [ngStyle]="{'font-family': 'MontserratBold'}">1.0</span></p>
            <p class="details">Con <span [ngStyle]="{'font-family': 'MontserratBold'}">SOLDI</span>, en menos de 5 minutos contarás con tu dinero, sin trámites largos ni letras chiquitas. En todo momento mostramos cuánto pagarás, sin comisiones ni intereses ocultos. ¡Pide
                tu adelanto ya!
            </p>
            <p class="consult">Consulta.</p>
            <p class="links">
                <a href="">Aviso de Privacidad</a> | <a href="">Términos y Condiciones.</a>
            </p>
        </div>
    </div>
</div>