<mat-toolbar>
    <mat-toolbar-row>
        <span [ngStyle]="{'font-family': 'MontserratBold'}" class="head">Notificaciones</span>
        <span class="span-spacer"></span>
        <mat-icon class="cursor-pointer" (click)="deleteNotification()">delete</mat-icon>
        <mat-icon class="cursor-pointer" color="primary" appMatSidenavToggler="quick-panel">close</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>

<mat-list>
    <ng-container *ngFor="let alert of Alerts">
        <mat-list-item [ngClass]="{'show-alert': alert.shown}">
            <span matListAvatar (click)="openNotification(alert)">
                <img src="assets/icons/ico-notificaciones-white.png" alt="Alerta">
            </span>

            <h3 matLine (click)="openNotification(alert)">{{alert.title}}</h3>
            <span class="span-spacer"></span>
            <mat-icon class="cursor-pointer" (click)="showAlert(alert)">{{alert.shown ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
            <p class="error-message" matLine [innerHTML]="alert.message" (click)="openNotification(alert)"></p>
        </mat-list-item>
        <mat-divider></mat-divider>
    </ng-container>    
</mat-list>
