<div class="container mat-elevation-z3" >
    <div class="title">
        <h3 [ngStyle]="{'font-family': 'MontserratBold'}">Seguridad</h3>
        <span class="line"></span>
    </div>

    <div class="content">
        <div class="icon">
            <div class="circle-icon">
                <mat-icon svgIcon="iconSecurity" class="icon-security"></mat-icon>
            </div>
        </div>
        <div class="text">
            <p [ngStyle]="{'font-family': 'MontserratBold'}">Tus datos están protegidos con un cifrado de seguridad.</p>
            <p>
              Todas las operaciones y tus datos personales están protegidos con cifrado y autenticación por medio de token
              por lo que es completamente seguro realizar operaciones en nuestra plataforma. En SNAC nos preocupamos
              por tu seguridad y estamos contigo en todo momento.
          </p>
        </div>
    </div>
</div>
