<div class="container module-container">
  <div class="icon">
      <img src="assets/images/logo.png" alt="">
  </div>

  <div class="content-form" [formGroup]="recoveryForm">
      <h3>Recuperar contraseña</h3>
      <p>Ingresa tu correo electrónico</p>
      <div class="content-inputs">
          <mat-form-field class="input-full-width">
              <mat-label>Correo electrónico</mat-label>
              <input matInput formControlName="mail">
              <mat-error *ngIf="loginFormErrors.mail.required">
                El correo es requerido
              </mat-error>
              <mat-error *ngIf="!loginFormErrors.mail.required && loginFormErrors.mail.email">
                El correo no es valido
              </mat-error>
          </mat-form-field>
      </div>
      
      <span *ngIf="loginError !== ''" class="errorLogin">{{loginError}}</span>

      <div class="content-button">
          <button mat-button [disabled]="recoveryForm.invalid || loading" (click)="submit()" [class.spinner]="loading">Recuperar</button>
      </div>
      <div class="content-options">
          <div class="options">
              <div>
                  <a [routerLink]="['/login']" routerLinkActive="router-link-active">Regresar</a>
              </div>
          </div>
      </div>
  </div>
</div>
