@import '../../../core/scss/app';

app-pending-records {
    .container {
        padding: 25px !important;
        @include media-breakpoint-down('sm') {
            overflow: auto;
        }

        .content-breadcrumbs {
            
            h1 {
                color: #41434C;
                font-size: 27px;
            }
        }
    }

    .content-table {
        margin-top: 25px;
        background-color: white;
        padding: 20px;
        height: calc(100% - 92px);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        @include media-breakpoint-down('sm') {
            height: auto;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .title {
            margin-bottom: 25px;
            
            h3 {
                margin: 0;
                color: #41434C;
                font-size: 20px;
            }

            .line {
                background-color: #33ccff;
                width: 78px;
                height: 5px;
                display: block;
                border-radius: 5px;
            }
        }

        .table {
            overflow: auto !important;
            position: relative;
            height: 100%;

            .content-loading {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                background-color: #ffffff80;
                z-index: 101;
            }
        }
    }
}