<table mat-table [dataSource]="dataSource" multiTemplateDataRows>

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef #cid id="cid" class="sticky-head">ID</th>
        <td mat-cell *matCellDef="let element" id="cid" class="sticky-column">{{ element.id }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef #cname class="sticky-head" id="cname">NOMBRE</th>
        <td mat-cell *matCellDef="let element" id="cname" class="sticky-column">{{ element.name }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="investment">
        <th mat-header-cell *matHeaderCellDef #cinsvestment>INVERSIONES</th>
        <td mat-cell *matCellDef="let element"></td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef #cstartdate>FECHA INICIO</th>
        <td mat-cell *matCellDef="let element"></td>
        <td mat-footer-cell *matFooterCellDef [attr.colspan]="2">
            <p class="label-footer">Total a Pagar del Periodo: <u class="total-footer" [ngStyle]="{'font-family': 'MontserratBold'}" (click)="detailsPaymen()">{{ detailsTotals.totalPayPeriodo | currency }}</u></p>
        </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef #cenddate>FECHA TÉRMINO</th>
        <td mat-cell *matCellDef="let element"></td>
        <td mat-footer-cell *matFooterCellDef [ngStyle]="{'display': 'none'}"></td>
    </ng-container>

    <ng-container matColumnDef="interestRate">
        <th mat-header-cell *matHeaderCellDef #cinterestrate>TASA<br>DE INTERÉS</th>
        <td mat-cell *matCellDef="let element"></td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="interestRateMora">
        <th mat-header-cell *matHeaderCellDef #cinterestRateMora>TASA DE<br>INTERÉS MORA.</th>
        <td mat-cell *matCellDef="let element"></td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="payPeriodicity">
        <th mat-header-cell *matHeaderCellDef #cpayPeriodicity>PERIODICIDAD<br>DE PAGO</th>
        <td mat-cell *matCellDef="let element"></td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="interestPayable">
        <th mat-header-cell *matHeaderCellDef #cinterestpayable>INTERESES<br>POR PAGAR</th>
        <td mat-cell *matCellDef="let element"></td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="defaultInterest">
        <th mat-header-cell *matHeaderCellDef #cdefaultinterest>INTERESES<br>MORATORIOS</th>
        <td mat-cell *matCellDef="let element"></td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="setings">
        <th mat-header-cell *matHeaderCellDef #csetings>AJUSTES</th>
        <td mat-cell *matCellDef="let element"></td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="totalInterestPay">
        <th mat-header-cell *matHeaderCellDef #ctotalInterestPay>INTERESES<br>TOTALES <br>POR PAGAR</th>
        <td mat-cell *matCellDef="let element"></td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="ivaInterest">
        <th mat-header-cell *matHeaderCellDef #civaInterest>IVA DE<br>INTERESES</th>
        <td mat-cell *matCellDef="let element" ></td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="withholdingTaxes">
        <th mat-header-cell *matHeaderCellDef #cwithholdingTaxes>RETENCIÓN<br>DE IVA</th>
        <td mat-cell *matCellDef="let element"></td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="withholdingISR">
        <th mat-header-cell *matHeaderCellDef #cwithholdingISR>RETENCIÓN<br>DE ISR</th>
        <td mat-cell *matCellDef="let element" ></td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="interestNetoPay">
        <th mat-header-cell *matHeaderCellDef #cinterestNetoPay>INTERESES NETOS<br>POR PAGAR</th>
        <td mat-cell *matCellDef="let element" ></td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="daysMora">
        <th mat-header-cell *matHeaderCellDef #cdaysMora>DÍAS DE MORA<br>PAGO DE INTERESES</th>
        <td mat-cell *matCellDef="let element"></td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="nextInterestPaymentDate">
        <th mat-header-cell *matHeaderCellDef #cnextinterestpaymentdate>FECHA PRÓXIMA DE<br>PAGO DE INTERESES</th>
        <td mat-cell *matCellDef="let element"></td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef #cstatus>ESTATUS</th>
        <td mat-cell *matCellDef="let element"></td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="principalPayment">
        <th mat-header-cell *matHeaderCellDef #cprincipalpayment>PAGO DE PRINCIPAL</th>
        <td mat-cell *matCellDef="let element"></td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length" [ngStyle]="{'border-bottom-color': 'transparent'}" style="padding-left: 0;padding-right: 0;">
            <div class="element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="element-description">
                    <table class="sub-table">
                        <tbody>
                            <tr *ngFor="let item of element.subElements" [class]="item.color">
                                <td [ngStyle]="{'width': cidWidth + 'px'}"></td>
                                <td [ngStyle]="{'width': cnameWidth + 'px'}"></td>
                                <td [ngStyle]="{'width': cinsvestmentWidth + 'px'}">
                                    <span class="link-details" (click)="details(item.details, element.name, item.interestRate)">{{ item.investment | currency }}</span>
                                </td>
                                <td [ngStyle]="{'width': cstartdateWidth + 'px'}">{{ item.startDate }}</td>
                                <td [ngStyle]="{'width': cenddateiWidth + 'px'}">{{ item.endDate }}</td>
                                <td [ngStyle]="{'width': cinterestrateWidth + 'px'}">{{ item.interestRate }}</td>

                                <td [ngStyle]="{'width': cinterestRateMoraWidth + 'px'}">{{ item.interestMora }}</td>
                                <td [ngStyle]="{'width': cpayPeriodicityWidth + 'px'}">{{ item.periodName }}</td>

                                <td [ngStyle]="{'width': cinterestpayableWidth + 'px'}">{{ item?.interestPayable | currency }}</td>
                                <td [ngStyle]="{'width': cdefaultinterestWidth + 'px'}">{{ item?.defaultInterest | currency }}</td>

                                <td [ngStyle]="{'width': csetingsWidth + 'px'}">{{ item?.promotionalSetting | currency }}</td>
                                <td [ngStyle]="{'width': ctotalInterestPayWidth + 'px'}">{{ item?.totalInterest | currency }}</td>
                                <td [ngStyle]="{'width': civaInterestWidth + 'px'}">{{ item?.vat | currency }}</td>
                                <td [ngStyle]="{'width': cwithholdingTaxesWidth + 'px'}">{{ item?.vatRetention | currency }}</td>
                                <td [ngStyle]="{'width': cwithholdingISRWidth + 'px'}">{{ item?.isrRetention | currency }}</td>
                                <td [ngStyle]="{'width': cinterestNetoPayWidth + 'px'}">{{ item?.netInterest | currency }}</td>
                                <td [ngStyle]="{'width': cdaysMoraWidth + 'px'}">{{ item?.dayOverdue }}</td>


                                <td [ngStyle]="{'width': cnextinterestpaymentdateWidth + 'px'}">{{ item.nextInterestPaymentDate }}</td>
                                <td [ngStyle]="{'width': cstatusWidth + 'px'}">
                                    <div class="buttonStatus{{item.color}}">
                                        <ng-container [ngSwitch]="item.statusLabel">
                                            <ng-container *ngSwitchCase="2">
                                                NO ACTIVO
                                            </ng-container>
                                            <ng-container *ngSwitchCase="3">
                                                ACTIVO
                                            </ng-container>
                                            <ng-container *ngSwitchDefault>
                                                DEFAULT
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                </td>
                                <td [ngStyle]="{'width': cprincipalpaymentWidth + 'px'}">{{ item.principalPayment }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </td>
    </ng-container>
    

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
    <tr mat-row *matRowDef="let i = even; let element; columns: columnsToDisplay"
        class="element-row"
        [class.expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; let i = even;" class="detail-row {{i}}" [ngClass]="{'back-color-row': !i}"></tr>
    <tr mat-footer-row *matFooterRowDef="columnsToDisplay" class="element-footer"></tr>
</table>

<mat-paginator 
    [length]="totalRow"
    [pageSize]="20"
    [pageSizeOptions]="[20, 50, 500]"
    (page)="changeTable($event)"></mat-paginator>
