@import "../../../core/scss/app";

app-settings {
    .container {
        padding: 25px;
        overflow: auto;

        .content-breadcrumbs {
            
            h1 {
                color: #41434C;
                font-size: 27px;
            }
        }

        .content-options {
            @include media-breakpoint-down('sm') {
                text-align: center;
            }

            .option {
                margin: 10px 0;

                &:first-child {
                    margin-top: 0px;
                }

                .mat-flat-button {
                    min-width: 205px;
                }
                
                .inactive {
                    background-color: #dee3ed;
                    color: #8e91a2;
                }
            }
        }

        .content-child {
            padding-left: 25px;

            @include media-breakpoint-down('sm') {
                padding-left: 0px;
                margin-top: 25px;
            }
        }  
    }
}