<div class="container module-container">
    <div class="content-breadcrumbs" fxLayout="row" fxLayoutAlign="space-between end">
        <div>
            <h1 [ngStyle]="{'font-family': 'MontserratBold'}">Pedir Paro</h1>
            <div class="breadcrumbs">Snac > Pedir Paro</div>
        </div>
        <div>
            <p><b>Total a pagar ({{ nextDatePayment.format('DD/MM/YYYY') }}): </b>{{ totalToPay | currency }}</p>
        </div>
    </div>
    <div class="content-table mat-elevation-z3">
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-between center">
            <div fxFlex="30" fxFle.sm="100" fxFlex.xs="100">
                <div class="title">
                    <h3 [ngStyle]="{'font-family': 'MontserratBold'}">Adelantos</h3>
                    <span class="line"></span>
                </div>
            </div>
            <div fxFlex="30" fxFle.sm="100" fxFlex.xs="100" fxLayoutAlign="end center">
                <div class="ctn-btn">
                    <button mat-button (click)="uploadPayrollReceipt()">Pedir Paro</button>
                </div>
            </div>
        </div>
        <div class="table" id="contentTable">
            <div class="content-loading" *ngIf="loading">
                <mat-spinner [diameter]="30"></mat-spinner>
            </div>
            <app-table-advance
                [data]="data"
                [totalRow]="totalRow"
            ></app-table-advance>
        </div>
    </div>
</div>