@import "../../../core/scss/app";
app-modal-contact {
    .dialog-content-contact {
        color: white;
        background: rgba(51, 51, 255, 1);
        background: -moz-linear-gradient(45deg, rgba(51, 51, 255, 1) 0%, rgba(51, 204, 255, 1) 69%, rgba(51, 204, 255, 1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(51, 51, 255, 1)), color-stop(69%, rgba(51, 204, 255, 1)), color-stop(100%, rgba(51, 204, 255, 1)));
        background: -webkit-linear-gradient(45deg, rgba(51, 51, 255, 1) 0%, rgba(51, 204, 255, 1) 69%, rgba(51, 204, 255, 1) 100%);
        background: -o-linear-gradient(45deg, rgba(51, 51, 255, 1) 0%, rgba(51, 204, 255, 1) 69%, rgba(51, 204, 255, 1) 100%);
        background: -ms-linear-gradient(45deg, rgba(51, 51, 255, 1) 0%, rgba(51, 204, 255, 1) 69%, rgba(51, 204, 255, 1) 100%);
        background: linear-gradient(45deg, rgba(51, 51, 255, 1) 0%, rgba(51, 204, 255, 1) 69%, rgba(51, 204, 255, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41434C', endColorstr='#98c0e0', GradientType=1);
    }
    .dialog-title {
        color: white !important;
    }
    .mat-dialog-container mat-toolbar {
        border-bottom: none !important;
    }
    .mat-dialog-content {
        padding-top: 10px;
    }
    mat-form-field {
        width: 100%;
    }
    .content-form {
        overflow: hidden;
        @include media-breakpoint-down('sm') {
            overflow: auto;
        }
        .content-field {
            width: 100%;
        }
        .mat-checkbox-label {
            a,
            span {
                color: white;
            }
            @include media-breakpoint-down('sm') {
                display: flex;
                width: 235px;
                overflow-wrap: break-word;
                flex-wrap: wrap;
                font-size: 13px;
            }
            @include media-breakpoint-down('md') {
                display: flex;
                width: 235px;
                overflow-wrap: break-word;
                flex-wrap: wrap;
                font-size: 13px;
            }
        }
        .mat-form-field-label {
            mat-label {
                color: white;
            }
        }
        .p-l-12-5 {
            padding-left: 12.5px;
            @include media-breakpoint-down('sm') {
                padding-left: 0px;
            }
        }
        .p-r-12-5 {
            padding-right: 12.5px;
            @include media-breakpoint-down('sm') {
                padding-left: 0px;
            }
        }
    }
    .mat-dialog-actions {
        .mat-button {
            background-color: #41434C;
            min-width: 200px;
            border-radius: 50px;
            font-weight: bold;
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }
    .mat-select-value {
        .mat-select-value-text {
            color: white;
        }
    }
    .mat-button[disabled][disabled] {
        color: white;
        opacity: .7;
    }
}