@import '../../../../core/scss/app';

app-table-movements {
    width: 100%;
    
    table {
        width: 100%;
        border-radius: 5px;
        border: 1px solid #cacee6;

        tr {
            &.back-color-row {
                background-color: #f9f9f9;
            }
            
        }
    }
}