<div class="content-intro">
    <div class="content-text">
        <p class="question">¿Necesitas dinero antes de tu quincena?</p>
        <span class="separation-blue"></span>

        <p class="description"><b>PrestaQi</b>&#174; te adelanta tu sueldo en cuestión de minutos.</p>
    </div>

    <div class="content-widgets">
        <div class="flex-widgets">
            <app-intro-landing-widget
                imagePath="assets/icons/icon-time.png"
                text="En menos de 5 minutos contarás con tu dinero"
                radiusBottomLeft="true"
            ></app-intro-landing-widget>
            <app-intro-landing-widget
                style="margin: 0 35px;"
                imagePath="assets/icons/icon-tramite.png"
                text="Sin trámites largos ni letras chiquitas"></app-intro-landing-widget>
            <app-intro-landing-widget
                imagePath="assets/icons/icon-cel.png" 
                text="Siempre sabes cuánto pagarás, sin comisiones ni intereses ocultos"
                radiusTopRight="true"
            ></app-intro-landing-widget>
        </div>
    </div>

    <div class="content-conditions">
        <p>Tasa de interés anual fija en la próxima fecha de pago del 60.0% antes de impuestos. CAT (Costo Anual Total) promedio 145.4% sin IVA, calculado al 15 de junio del 2020. Para fines informativos y de comparación. El CAT promedio se usa como la herramienta para ilustrar las condiciones que cualquier cliente podría tener en un préstamo. El CAT que terminarás pagando puede variar si no tienes las características con un préstamo promedio y el nivel de pago promedio.</p>
    </div>
</div>