@import '../../core/scss/app';
app-main {
    &.app-nav-bar-folded:not(.app-nav-bar-horizontal) {
        .content-wrapper {
            &:last-child {
                padding-left: 64px !important;
            }
            &:first-child {
                padding-right: 64px !important;
            }
            &:first-child:last-child {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
    }
}

app-navbar {
    display: flex;
    flex-direction: column;
    width: 256px;
    min-width: 256px;
    max-width: 256px;
    background-color: #FFFFFF;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 5;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
    transition: all .3s cubic-bezier(.55, 0, .55, .2), width .2s linear, min-width .2s linear, max-width .2s linear;
    transform: translateX(0);
    z-index: 102;
    .logo-icon {
        display: none;
        width: 28px;
    }
    .logo-text {
        width: 130px;
    }
    &.folded {
        position: absolute;
        top: 0;
        bottom: 0;
        &.left-navbar {
            left: 0;
        }
        &.right-navbar {
            right: 0;
        }
        &:not(.folded-open) {
            width: 64px;
            min-width: 64px;
            max-width: 64px;
            .navbar-header {
                padding: 0 13px;
                .logo {
                    .logo-icon {
                        display: block;
                    }
                    .logo-text {
                        opacity: 0;
                        transition: opacity 200ms ease;
                        display: none;
                        transition: display 250ms ease;
                    }
                }
            }
            .navbar-content {
                .nav-item {
                    width: 90% !important;
                }
            }
            .children {
                height: 0;
            }
        }
    }
    &.close {
        box-shadow: none;
        &.left-navbar {
            transform: translateX(-100%) !important;
        }
        &.right-navbar {
            transform: translateX(100%) !important;
        }
    }
    @include media-breakpoint('lt-lg') {
        position: absolute;
        top: 0;
        bottom: 0;
        &.left-navbar {
            left: 0;
        }
        &.right-navbar {
            right: 0;
        }
        &:not(.initialized) {
            &.left-navbar {
                transform: translateX(-100%);
            }
            &.right-navbar {
                transform: translateX(100%);
            }
        }
    }
    .navbar-header {
        padding: 0 16px 0 24px;
        display: flex;
        align-items: center;
        height: 94px;
        min-height: 94px;
        justify-content: space-between;
        transition: padding 200ms ease;
        background-color: rgba(255, 255, 255, .05);
        .logo {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
            .logo-icon {
                width: 28px;
            }
        }
        .icon-menu {
            color: white;
        }
        .mat-icon {
            color: white;
        }
    }
    .navbar-content {
        flex: 1;
    }
}

.app-navbar-backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
}