<div class="content-how-work">
    <div class="content-text">
        <p class="question">¿Cómo funciona PrestaQi?</p>
        <span class="separation-blue"></span>

        <p class="description">Sin importar el día ni la hora recibirás tu dinero en cuestión de minutos.</p>
    </div>

    <div class="content-carrousel">
        <ul appPerfectScrollbar>
            <li>
                <div class="content-item-carrousel">
                    <div class="bg-image one"></div>
                    <div class="content-info">
                        <div class="text">
                            <div class="content-number">1</div>
                            <div class="content-text-carousel">
                                ¿Necesitas dinero y todavía falta para la quincena?
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="content-item-carrousel">
                    <div class="bg-image two"></div>
                    <div class="content-info">
                        <div class="text">
                            <div class="content-number">2</div>
                            <div class="content-text-carousel">
                                Adelanta parte de tu quincena a través de nuestra App en menos de 5 minutos
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="content-item-carrousel">
                    <div class="bg-image three"></div>
                    <div class="content-info">
                        <div class="text">
                            <div class="content-number">3</div>
                            <div class="content-text-carousel">
                                Recibirás tu dinero 24/7, los 365 días del año
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="content-item-carrousel">
                    <div class="bg-image four"></div>
                    <div class="content-info">
                        <div class="text">
                            <div class="content-number">4</div>
                            <div class="content-text-carousel">
                                Lo descontaremos en tu próxima quincena
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>