<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title" [ngStyle]="{'font-family': 'MontserratBold'}">Subir INE</span>
        </div>
    </mat-toolbar>

    <div class="pl-15 pr-25 m-0" mat-dialog-content>
        <p>Suba su INE por ambos lados</p>

        <div class="content-ine">
            <div class="item" [ngClass]="{'active': type === 'front'}">
                <mat-icon class="clock"> {{ type === 'front' ? 'schedule' : 'done' }}</mat-icon>
                <span>FRONTAL</span>
            </div>
            <div class="item" [ngClass]="{'active': type !== 'front'}">
                <mat-icon class="clock">schedule</mat-icon>
                <span>POSTERIOR</span>
            </div>
        </div>

        <div class="content-upload-file">
            <div class="box-input" #boxInput>
                <mat-icon svgIcon="logoUpload" class="icon-upload"></mat-icon>
                <br>
                <input type="file" class="input-file" id="file" #inputFile>
                <label for="file">Subir (formatos: jpg, jpeg, png, pdf)</label>
            </div>

            <div *ngIf="uploadingINE" class="loadingUpload">
                <mat-spinner [diameter]="30"></mat-spinner>
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="m-0" fxLayoutAlign="center center">
    </div>
</div>