<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title" [ngStyle]="{'font-family': 'MontserratBold'}">Cambio De Contraseña</span>
      <button mat-button class="toggle-button-navbar mat-icon-button" [mat-dialog-close]="false">
          <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div mat-dialog-content class="pl-25 pr-25 m-0 content-form" appPerfectScrollbar [formGroup]="recoveryForm">
    <p>Ingresa tu nueva contraseña a continuacion.</p>
    <p class="condition-password">La contraseña debe tener entre 6 y 10 caracteres y puede incluir letras (mayúsculas o minúsculas), números del 0 al 9 y signos de puntuación.</p>

    <div class="content-inputs">
      <mat-form-field class="input-full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-error *ngIf="loginFormErrors.password.required">
              Ingresa una contraseña
          </mat-error>
          <mat-error *ngIf="loginFormErrors.password.minlength">
            Caracteres minimos 6
          </mat-error>
          <mat-error *ngIf="loginFormErrors.password.maxlength">
            Caracteres maximo 10
          </mat-error>
      </mat-form-field>
    </div>

    <div class="content-inputs confirm-password">
      <mat-form-field class="input-full-width">
          <mat-label>Confirme contraseña</mat-label>
          <input matInput type="password" formControlName="confirmPassword">
          <mat-error *ngIf="loginFormErrors?.confirmPassword?.required">
            Ingresa una contraseña
          </mat-error>
          <mat-error *ngIf="loginFormErrors?.confirmPassword?.noEqual">
            La contraseña no conincide
          </mat-error>
      </mat-form-field>
    </div>
    
    <span *ngIf="message !== ''" class="errorLogin">{{ message }}</span>
  </div>

  <div mat-dialog-actions class="m-0" fxLayoutAlign="space-around center">
    <div class="content-botton">
        <div class="content-btn-left">
            <button 
              mat-button 
              [disabled]="recoveryForm.invalid || loading" 
              (click)="submit()" 
              [class.spinner]="loading">GUARDAR CAMBIOS</button>
        </div>
        <div class="content-btn-right">
          <button mat-button [mat-dialog-close]="false">CANCELAR</button>
        </div>
    </div>
  </div>
</div>