@import '../../../core/scss/app';

app-add-settings-advances {
    .mat-dialog-content {
        padding-top: 10px;

        .mat-form-field {
            width: 100%;
        }

        .content-steps {
            margin-bottom: 25px;
            overflow: hidden;
            position: relative;

            .content-form {
                .content-title {
                    margin-bottom: 10px;
                    min-height: 40px;

                    .title {
                        min-width: 450px;
                        .content-user {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            p {
                                color: #4d4d4d;
                                font-size: 16px;
                                margin: 0;
                            }

                            span {
                                color: #8e91a2;
                                font-weight: 600;
                                font-size: 12px;
                            }
                        }
                    }

                    .number-step {
                        display: flex;
                        align-items: center;

                        p {
                            margin: 0;
                            font-size: 30px;
                            color: #dee3ed;
                        }
                    }
                }

                .content-inputs {
                    .row-data {
                        padding: 5px 0;
                        border-bottom: 1px solid #dee3ed;
                        min-height: 30px;
                        @include media-breakpoint-down('sm') {
                            min-height: 50px;
                            margin-bottom: 10px;
                        }

                        &:last-child {
                            @include media-breakpoint-down('sm') {
                                margin-bottom: 0px;
                            }   
                        }
                    }
                }
            }

            .content-authorize {
                .mat-form-field {
                    width: 100%;
                }
            }
        }
    }

    .mat-dialog-actions {
        .mat-button {
            border-radius: 50px;
            font-weight: bold;
            padding: 5px 0;
        }

        .content-botton {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-bottom: 20px;

            .content-btn-left {
                width: 50%;
                padding-right: 12.5px;
                padding-left: 25px;

                .mat-button {
                    width: 100%;
                    background: #41434C;
                    color: white;
                }

                .spinner {
                    &:before {
                        content: '';
                        box-sizing: border-box;
                        position: absolute;
                        top: 50%;
                        left: 90%;
                        width: 20px;
                        height: 20px;
                        margin-top: -10px;
                        margin-left: -10px;
                        border-radius: 50%;
                        border: 2px solid #ffffff;
                        border-top-color: #41434C;
                        animation: spinner .8s linear infinite;
                    }
                }
            }

            .content-btn-right {
                width: 50%;
                padding-left: 12.5px;
                padding-right: 25px;

                .mat-button {
                    width: 100%;
                    background-color: #8e91a2;
                    color: white;
                }
            }
        }
    }

    .invalid-input {
        color: red;
    }
}

@keyframes giro{
    0% {
        transform: rotate(0deg);
        border-radius: 50%;
    }
    50% {
        border-radius: 20%;        
    }    
    100% {
        border-radius: 50%;
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}